/* What did you learn?
    Do not use 'display:inline;' in 'sematic tags'
        stuff just dissapears etc.
        use on 'img', 'li', 'form', etc. */


* {
    font-family: Arial, Helvetica, sans-serif;
    padding:1px;
}


header, footer {
    background-color: rgb(56, 119, 99);
    text-align: right;
    color:white;
}


li {
    display: inline;
    padding: 1em;

}

.bars, #contactform {
    background-color:rgb(235, 198, 186);
    padding:1em;
}

#bartop {
    padding:.25em;
}

main {
    background-color: rgb(255, 248, 235);
}

main, footer, #contact, form {
    text-align: center;
}

h1,h2 {
    color: rgb(90, 59, 59);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 37.5%;
}

form {
    padding: 5px;
    border:rgb(175, 135, 125) 3px solid;
    border-radius: 1em;
    width:50%;
}

input {
    padding:0;
    margin:.2em;
    width:20em;
}

footer {
    font-size:small;
}

#barbtm, button {
    color: white;
    background-color:rgb(73, 52, 37);
    padding:.1em;
}

button {
    padding:.5em;
    width:20%;
}

#email {
    position: relative;
    left:.1em;
}
