* {
    font-family: Arial, Helvetica, sans-serif;
    padding:1px;
}


header {
    background-color: rgb(56, 119, 99);
    text-align: right;
    color:white;
}

ul {
}

li {
    display: inline;
    padding: 1em;

}

.bars, #contactform {
    background-color: rgb(214, 184, 138);
    padding:1em;
}

#bartop {
    padding:.25em;
}

main {
    background-color: rgb(254, 246, 235);
}

main, footer, #contact, form {
    text-align: center;
}

h1,h2 {
    color: rgb(90, 59, 59);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 37.5%;
}

form {
    padding: 5px;
    border:rgb(175, 135, 125) 5px solid;
    border-radius: 1em;
    width:50%;
}

input {
    padding: 1px;
}
